<div class="site-footer">
  <div class="site-footer-item">
    <a href='{{ .Site.Params.staticPrefix }}{{ "index.xml" | relURL }}'>{{ partial "fontawesome.html" "rss" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://github.com/nmh4598">{{ partial "fontawesome.html" "github" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://linkedin.com/in/nmh4598">{{ partial "fontawesome.html" "linkedin" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="/files/resume_nmh.pdf">{{ partial "fontawesome.html" "resume" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="mailto:nguyenmanhhung04051998@gmail.com.com">{{ partial "fontawesome.html" "email" }}</a>
  </div>
</div>
